.homepage2{
    background-color: #032d5a;
    width: 100%;
    align-self: center;
    overlay: none;
}
    .homepage{
        margin: 30px 0px 30px 0px;
        width: 100%;
        position: relative;
        align-self: center;
    }

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.container h2{
    margin-bottom: 40px;
    color: #032d5a;
}

.faq-section {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    color: white !important;
  }
  
  .faq-item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .faq-question {
    background-color: #032d5a;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
  }

  .faq-question:hover{
    background-color: #0056b3;
    padding: 15px;
    cursor: pointer;
    font-weight: bold; 
  }
  
.faq-question img{
    padding-right: 10px;
}

  .faq-answer {
    display: none; /* Hidden by default */
    padding: 15px;
    background-color: #fff;
    color: #032d5a !important;
    /* border: solid rgb(49, 49, 49); */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .faq-answer p {
    margin: 0;
    text-align: left !important;
  }
  