{% load static %}

<link rel="stylesheet" href="{% static '/css/index.css' %}">
<link rel="stylesheet" href="{% static '/css/about.css' %}">




<section id="about" class="justify-content-center border-top pb-3 mb-3 py-5">
    <div class="container">
        <h2 class="text-center mb-4">
            <strong>
                <b style="border-bottom: 3px solid white;">Abo</b>ut Us
            </strong>
        </h2>
        <p class="lead text-center">
            TaskManger is designed to streamline your productivity and manage tasks efficiently. Whether you are working alone or collaborating with a team, our system provides all the necessary tools to organize, prioritize, and track your tasks seamlessly.
        </p>
        <div class="about-content">
            <div class="about-box">
                <i class="fas fa-user-check"></i> <!-- Replace with your own icon -->
                <h4>Easy to Use!!</h4>
                <p>
                    Our user-friendly interface allows you to create, edit, and manage tasks effortlessly. You can add due dates, set priorities, and assign tasks to team members with just a few clicks.
                </p>
            </div>
            <div class="about-box">
                <i class="fas fa-tasks"></i> <!-- Replace with your own icon -->
                <h4>Organize Your Work!!</h4>
                <p>
                    Group tasks into categories, set priorities, and create to-do lists that help you stay organized and focused. Have a comprehensive overview of your projects and deadlines in one place.
                </p>
            </div>
            <div class="about-box">
                <i class="fas fa-chart-line"></i> <!-- Replace with your own icon -->
                <h4>Track Progress!!</h4>
                <p>
                    Monitor your progress with our built-in tracking features. Visualize your completed tasks and deadlines, helping you stay on track and meet your goals.
                </p>
            </div>
        </div>
    </div>
</section>
