{% extends 'layouts.html' %}
{% load static %}


{% block title %}

    Login

{% endblock title %}


{% block stylepage %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">
    
{% endblock stylepage %}


 

{% block content %}

    <div class="homepage2">
        <div class="homepage">

            <div class="login-container">
                <h2>Login</h2>
            
                <!-- Django message framework to show success or error messages -->
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            
                <p>Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
            </div>
        </div>
    </div>
    
{% endblock content %}
    
    
